/* based on https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/v1.6.0/style.css */
.body{
  background-color: transparent !important;
}
.loader-container {
  display: flex; /* Use flex to align items horizontally */
  align-items: center; /* Center items vertically within the container */
  white-space: nowrap; /* Prevent line breaks within the container */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 

/* Style the progress bar */
progress {
  appearance: none; /* Remove default styling */
  height: 20px; /* Set the height of the progress bar */
  border-radius: 5px; /* Round the corners of the progress bar */
  background-color: #f3f3f3; /* Light grey background */
  width: 100%;
  vertical-align: middle !important;
}






/* Stile generale per l'app Gradio */
body, .gradio-container {
  background-color: transparent; /* Colore di sfondo chiaro per tutta l'app */
  font-family: Arial, sans-serif;
}

/* Stile per il titolo o il contenitore principale */
h1, h2 {
  color: white !important;
  text-align: center;
}

/* Contenitore per i componenti Gradio */
.gr-block, .gradio-container .gr-row, .gradio-container .gr-column {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color:transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.velte-cmf5ev{


  background-color: black !important;
}
#generate_button{
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1;
  border-image-slice: 1;

  background: #0000006e !important;

  box-shadow: 0 4px 8px rgba(255, 51, 0, 0.3);


}
.preview.svelte-1b19cri img.svelte-1b19cri {


background: transparent !important;


}






/* Sfondo animato semplice e scuro per gradio-app */
gradio-app {
  display: block !important;
  font-family: 'Arial', sans-serif !important;
  background: radial-gradient(circle at 70% 60%, rgba(228, 114, 22, 0.253), rgb(0, 0, 0)) !important;
  background-size: cover !important;
  background-size: 300% 300% !important;
  animation: gradientAnimation 10s ease infinite !important;
  padding: 20px !important;
  overflow: hidden !important;
  
}

/* Ombreggiatura per il testo */
gradio-app * {
  color: #e0e0e0 !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) !important;
}


gradio-app::after {
  animation-duration: 50s;
  opacity: 0.2;
}
.show-api{
  display: none !important;
  
}
.gap{
  background-color:transparent !important; /* Forza il colore di sfondo */



}

.built-with{

  display: none !important;

}
.form, .svelte-sfqy0y{

  background-color: transparent !important; /* Sfondo dell'app intera */

  border: 2px solid  transparent !important;
}

.svelte-vt1mxs{


  background-color:transparent !important; /* Forza il colore di sfondo */

  
}
.svelte-kqij2n{



  background-color:transparent !important; /* Forza il colore di sfondo */
 
  
}
.svelte-19hvt5v{

  border: 2px solid  transparent !important;


}
.svelte-15lo0d8 {


  background-color:transparent !important; /* Forza il colore di sfondo */




}
.svelte-kqij2n{

  background-color:transparent !important; /* Forza il colore di sfondo */
}
.tabs {

  background-color:transparent !important; /* Forza il colore di sfondo */
}
.empty{

  border: transparent !important;


}
.block svelte-90oupt padded{



  border: transparent !important;

} 

.gradio-container button {
  background-color: transparent !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}








 .svelte-lk9eg8{


  border: 2px solid transparent ;
  border-image: linear-gradient(45deg, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1;
  border-image-slice: 1;

 }

.svelte-19hvt5v {
  background: rgba(0, 0, 0, 0.478) !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 87, 34, 0.3);
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1;
  border-image-slice: 1;
}

.tabitem {
  border: 2px solid transparent !important;
  border-image: linear-gradient(45deg, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1 !important;
  border-image-slice: 1 !important;
}





.svelte-laonegi {
  background: rgba(0, 0, 0, 0.478) !important;

}

.options  {
  background: rgb(0, 0, 0) !important;




}


.block .svelte-90oupt .hide-container{

display: none;

}

.options .selected{
  color: #ff5722 !important;
}


.svelte-vt1mxs .gap {

  background: transparent !important;

}


.svelte-15lo0d8 .stretch{

  background: transparent!important;


  
}
.svelte-1qxcj04  {

  background:transparent !important; /* Forza il colore di sfondo */


}

.svelte-1qxcj04 .selected input {

  background: white !important;
  

}
.svelte-1cl284s{

  background: rgba(0, 0, 0, 0.478) !important;




}

.tab-nav  {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1 0 0;
  border-image-slice: 1;
  
  

}

.svelte-cmf5ev {


  background: rgba(0, 0, 0, 0.478) !important;
  color: white;

}

  .svelte-1p9xokt label {
  color: #ffffff !important;
  background: transparent !important; /* Forza il colore di sfondo */
  font-weight: 750 !important;
  border-radius: 8px !important;
  border: 2px solid  transparent !important;

  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}
.svelte-1gfkn6j{

  color: #ffffff !important;
  font-weight: 700;
}

.svelte-1xsj8nn{

  background: transparent !important; /* Forza il colore di sfondo */
  border-radius: 8px !important;
  color: #ffffff !important;
  font-weight: 700 !important;


}

.wrap{
  background-color: transparent !important; /* Forza il colore di sfondo */


}


.block, .performance_selection, .svelte-90oupt, .padded{

  background-color: transparent !important; /* Sfondo dell'app intera */

}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none; /* Evita interferenze col mouse */
    background-color: transparent; /* Assicura che il background sia trasparente */
}

.svelte-1f354aw {


  background: rgba(0, 0, 0, 0.12) !important;


}


.svelte-s6ybro button  {

  
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1;
  border-image-slice: 1;

  background: black !important;

  color: black !important;
} 


.svelte-p4aq0j button{
  margin-top: 1vw !important;
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, rgba(255, 87, 34, 0), #ff5722, rgba(255, 87, 34, 0)) 1;
  border-image-slice: 1;

  background: black !important;

  color: black !important;



}


#window.gradio_config     {


    brush_color:black ;


}









/* Stile per i campi di input di testo */
input[type="text"], .gr-textbox input, .gradio-container .gr-input input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Stile per checkbox */
input[type="checkbox"], .gr-checkbox input {
  transform: scale(1.2); /* Aumenta leggermente le dimensioni */
  margin-right: 8px;
}

/* Galleria di immagini e anteprime */
.gr-gallery img, .gradio-container .gr-gallery img {
  border-radius: 8px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Stile per la barra di progresso */
.gr-progress-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.gr-progress-bar .progress {
  height: 100%;
  width: 0;
  background-color: #4CAF50;
  transition: width 0.3s ease;
}

/* Stile per le tab */
.gr-tab {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.gr-tab:hover {
  background-color: #dfe4ea;
}

/* Personalizza i componenti di errore e successo */
.gr-error {
  color: #e74c3c; /* Rosso per messaggi di errore */
}

.gr-success {
  color: #2ecc71; /* Verde per messaggi di successo */
}

/* Media queries per dispositivi mobili */
@media (max-width: 768px) {
  .gr-column, .gr-row {
      flex-direction: column;
      align-items: center;
  }

  button, input[type="text"] {
      width: 100%;
      margin-top: 10px;
  }
}


/* Style the progress bar container */
.progress-container {
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1; /* Allow the progress container to take up remaining space */
}

/* Set the color of the progress bar fill */
progress::-webkit-progress-value {
  background-color: #3498db; /* Blue color for the fill */
}

progress::-moz-progress-bar {
  background-color: #3498db; /* Blue color for the fill in Firefox */
}

/* Style the text on the progress bar */
progress::after {
  content: attr(value '%'); /* Display the progress value followed by '%' */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Set text color */
  font-size: 14px; /* Set font size */
}

/* Style other texts */
.loader-container > span {
  margin-left: 5px; /* Add spacing between the progress bar and the text */
}

.progress-bar > .generating {
  display: none !important;
}

.progress-bar{
  height: 30px !important;
}

.progress-bar span {
    text-align: right;
    width: 215px;
}
div:has(> #positive_prompt) {
    border: none;
}

#positive_prompt {
    padding: 1px;
    background: var(--background-fill-primary);
}

.type_row {
  height: 84px !important;
}

.type_row_half {
  height: 34px !important;
}

.refresh_button {
  border: none !important;
  background: none !important;
  font-size: none !important;
  box-shadow: none !important;
}


.advanced_check_row {
  width: 330px !important;
}

.min_check {
  min-width: min(1px, 100%) !important;
}

.resizable_area {
  resize: vertical;
  overflow: auto !important;
}

.performance_selection label {
    width: 140px !important;
}

.aspect_ratios label {
    flex: calc(50% - 5px) !important;
}

.aspect_ratios label span {
    white-space: nowrap !important;
}

.aspect_ratios label input {
    margin-left: -5px !important;
}

.lora_enable label {
  height: 100%;
}

.lora_enable label input {
  margin: auto;
}

.lora_enable label span {
  display: none;
}

@-moz-document url-prefix() {
  .lora_weight input[type=number] {
    width: 80px;
  }
}

#context-menu{
    z-index:9999;
    position:absolute;
    display:block;
    padding:0px 0;
    border:2px solid #a55000;
    border-radius:8px;
    box-shadow:1px 1px 2px #CE6400;
    width: 200px;
}

.context-menu-items{
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu-items a{
    display:block;
    padding:5px;
    cursor:pointer;
}

.context-menu-items a:hover{
    background: #a55000;
}

.canvas-tooltip-info {
  position: absolute;
  top: 28px;
  left: 2px;
  cursor: help;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 100;
}

.canvas-tooltip-info::after {
  content: '';
  display: block;
  width: 2px;
  height: 7px;
  background-color: white;
  margin-top: 2px;
}

.canvas-tooltip-info::before {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background-color: white;
}

.canvas-tooltip-content {
  display: none;
  background-color: #f9f9f9;
  color: white !important;
  border: 1px solid #ddd;
  padding: 15px;
  position: absolute;
  top: 40px;
  left: 10px;
  width: 250px;
  font-size: 16px;
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 100;
}

.canvas-tooltip:hover .canvas-tooltip-content {
  display: block;
  animation: fadeIn 0.5s;
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.styler {
  overflow:inherit !important;
}

.gradio-container{
  overflow: visible;
}

/* fullpage image viewer */

#lightboxModal{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(20, 20, 20, 0.95);
    user-select: none;
    -webkit-user-select: none;
    flex-direction: column;
}

.modalControls {
    display: flex;
    position: absolute;
    right: 0px;
    left: 0px;
    gap: 1em;
    padding: 1em;
    background-color:rgba(0,0,0,0);
    z-index: 1;
    transition: 0.2s ease background-color;
}
.modalControls:hover {
    background-color:rgba(0,0,0,0.9);
}
.modalClose {
    margin-left: auto;
}
.modalControls span{
    color: white;
    text-shadow: 0px 0px 0.25em black;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    width: 1em;
}

.modalControls span:hover, .modalControls span:focus{
    color: #999;
    text-decoration: none;
}

#lightboxModal > img {
    display: block;
    margin: auto;
    width: auto;
}

#lightboxModal > img.modalImageFullscreen{
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-height: 0;
}

.modalPrev,
.modalNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.modalNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.modalPrev:hover,
.modalNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#imageARPreview {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.3);
    z-index: 900;
    pointer-events: none;
    display: none;
}

#stylePreviewOverlay {
    opacity: 0;
    pointer-events: none;
    width: 128px;
    height: 128px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: solid 1px lightgrey;
    transform: translate(-140px, 20px);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 100;
    transition: transform 0.1s ease, opacity 0.3s ease;
}

#stylePreviewOverlay.lower-half {
    transform: translate(-140px, -140px);
}

/* scrollable box for style selections */
.contain .tabs {
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab {
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab > div:first-child {
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab .style_selections {
  min-height: 200px;
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab .style_selections .wrap[data-testid="checkbox-group"] {
  position: absolute; /* remove this to disable scrolling within the checkbox-group */
  overflow: auto;
  padding-right: 2px;
  max-height: 100%;
}

.contain .tabs .tabitem.style_selections_tab .style_selections .wrap[data-testid="checkbox-group"] label {
  /* max-width: calc(35% - 15px) !important; */ /* add this to enable 3 columns layout */
  flex: calc(50% - 5px) !important;
}

.contain .tabs .tabitem.style_selections_tab .style_selections .wrap[data-testid="checkbox-group"] label span {
  /* white-space:nowrap; */ /* add this to disable text wrapping (better choice for 3 columns layout) */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* styles preview tooltip */
.preview-tooltip {
  background-color: #fff8;
  font-family: monospace;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  display: none; /* remove this to enable tooltip in preview image */
}

#inpaint_canvas .canvas-tooltip-info {
  top: 2px;
}

#inpaint_brush_color input[type=color]{
  background: none;
}

.control_page_title {
  background-color: #000000 !important;
  color: #ffffff;
}
